html,body{
    font-family: "Heebo";
    margin: 0px;
    padding: 0px;
    background: #e5e5e5;
    font-style: bold;
}
h3,h2,h1,p,h4{
    margin:0px;
}
header nav{
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: right;
}
header nav ul{
    margin:0px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 60px;
}
header nav li{
    list-style-type: none;
}
header nav li a{
    text-decoration:none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}
/* Hero Section */
.hero-section{
    background-color: #fff;
    padding: 158px 0;
}
.hero-section .hero-inner{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hero-section .hero-inner .col-left {
    max-width: 497px;
}
.hero-section .hero-inner .col-left h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.hero-section .hero-inner .col-left h1:nth-child(2) {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}
.hero-section .hero-inner .col-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}
.hero-section .hero-inner .col-left .action-button {
    background: #FF6464;
    margin-top: 38px;
    height: 47px;
    border-radius: 2px;
    max-width: 208px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-section .hero-inner .col-right img{
    max-height: 243px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-left: 106px;
}
/* class posts section*/
.posts{
    background-color: #EDF7FA;
    padding: 32px 0;
}
.posts .post-section{
    max-width: 960px;
    margin: 0 auto;
}
.post-section .posts-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-section .posts-header h2{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color:#21243D;
}
.post-section .posts-header a{
    color: #00A8CC;
    text-decoration: none;
}
.post-item{
    display: flex;
    gap: 20px;
}
.post-item article{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px;
}
.post-item h3{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    padding-bottom: 17px;
}
.post-item div{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    padding-bottom: 11px;
}
.post-item p{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-right: 27px;
    padding-bottom: 7px;
    color: #21243D
}